.main {
  width: 200px; /* Adjust width as needed */
  background-color: purple;
  border-left: 5px solid green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  color: white;
  text-decoration: underline;
}
